/build
**/build

*.log

*.tmp
*.temp
*.swp

.idea/
*.iml
*.iws
*.ipr

local.properties

.gradle/
**/out/

/build/
*.jar
*.war
*.ear

*.kotlin_module

.DS_Store
Thumbs.db

captures/

test-output/

google-services.json
google-services.plist

lint/intermediates/
lint/generated/

*.ec

.navigation/
.cxx/
.externalNativeBuild/

.idea/caches/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/androidProfiling.xml
.idea/gradle.xml
.idea/inspectionProfiles/

.idea/runConfigurations/

.idea/deploymentTargetSelector.xml

gradle/wrapper/gradle-wrapper.properties